<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>E-Book Web Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link th:rel="stylesheet" th:href="@{/css/custom.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/modal.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container">
  <h1 class="display-5">Book</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}"></td>
      <td th:text="${book.name}"></td>
      <td th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${book.category}"></td>
      <td th:text="${book.author}"></td>
      <td style="text-align:center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-edit" data-bs-toggle="modal" th:attr="data-bs-target='#index'+${book.id}">
          Edit
        </button>
        <!-- Modal -->
        <div class="modal fade" th:id="'index' + ${book.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form th:action="@{/book/change}" th:object="${book}" method="POST">
                  <div class="row g-3">
                    <div class="col">
                      <label for="inputId"></label>
                      <input name="id" id="inputId" type="text" class="form-control" th:value="${book.id}" hidden>
                      <label for="inputName">Name</label>
                      <input name="name" id="inputName" type="text" class="form-control" th:value="${book.name}">
<!--                      <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"-->
<!--                           th:errors="*{name}"></div>-->
                    </div>
                    <div class="col">
                      <label for="inputPrice">Price</label>
                      <input name="price" id="inputPrice" type="text" class="form-control" th:value="${book.price}">
<!--                      <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}"-->
<!--                           th:errors="*{price}"></div>-->
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="inputCategory">Category</label>
                    <select name="category" id="inputCategory" class="form-select" th:value="${book.category}">
                      <option value="Comic Book" selected>Comic Book</option>
                      <option value="Detective and Mystery">Detective and Mystery</option>
                      <option value="Fantasy">Fantasy</option>
                      <option value="Historical Fiction">Historical Fiction</option>
                      <option value="Horror">Horror</option>
                      <option value="Romance">Romance</option>
                      <option value="Science Fiction (Sci-Fi)">Science Fiction (Sci-Fi)</option>
                      <option value="Short Stories">Short Stories</option>
                      <option value="Cookbooks">Cookbooks</option>
                    </select>
<!--                    <div class="alert alert-warning"-->
<!--                         th:if="${#fields.hasErrors('category')}"-->
<!--                         th:errors="*{category}"></div>-->
                  </div>
                  <div class="mb-3">
                    <label for="inputAuthor">Author</label>
                    <input name="author" id="inputAuthor" type="text" class="form-control" th:value="${book.author}">
<!--                    <div class="alert alert-warning" th:if="${#fields.hasErrors('author')}"-->
<!--                         th:errors="*{author}"></div>-->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                    <button th:href="@{/book/change}" type="submit" class="btn btn-submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td style="text-align:center">
<!--        <button th:action="" class="btn btn-delete" id="delete-button">Delete</button>-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-delete" data-bs-toggle="modal" th:attr="data-bs-target='#delete'+${book.id}">
          Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" th:id="'delete' + ${book.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Delete book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form th:action="@{/book/delete}" th:object="${book}" method="POST">
                  <div class="row g-3">
                    <p><span>Are you sure you want to delete the book?</span></p>
                    <div class="col">
                      <label for="inputId1"></label>
                      <input name="id" id="inputId1" type="text" class="form-control" th:value="${book.id}" hidden>
                      <label for="inputName1"></label>
                      <input name="name" id="inputName1" type="text" class="form-control" th:value="${book.name}" hidden>
                    </div>
                    <div class="col">
                      <label for="inputPrice1"></label>
                      <input name="price" id="inputPrice1" type="text" class="form-control" th:value="${book.price}" hidden>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="inputCategory1"></label>
                    <input name="category" id="inputCategory1" class="form-control" th:value="${book.category}" hidden>
                  </div>
                    <div class="mb-3">
                      <label for="inputAuthor1"></label>
                      <input name="author" id="inputAuthor1" type="text" class="form-control" th:value="${book.author}" hidden>
                     </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                    <button th:href="@{/book/delete}" type="submit" class="btn btn-submit">Delete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>