<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>E-Book Web Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link th:rel="stylesheet" th:href="@{/css/custom.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container">
  <h1 class="display-6">Welcome to E-Book Web Application</h1>

  <div class="mb-3" sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      <p>Hello, Khun Admin <b><span sec:authentication="name"></span></b></p>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
      <p>Hello, Khun <b><span sec:authentication="name"></span></b></p>
    </div>
  </div>

  <div class="mb-3" sec:authorize="isAnonymous()">
    <a class="btn btn-button" th:href="@{/login}" id="login-button">Login</a>
    <a class="btn btn-outline-button" th:href="@{/signup}" id="signup-button">Sign Up</a>
  </div>
  <div id="success-msg" class="alert alert-success" th:if="${buySuccess}">
    Your purchase has been confirmed!, Please check your email. Thank you for shopping with us.
  </div>
  <div class="mb-3">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.name}"></td>
      <td th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${book.category}"></td>
      <td th:text="${book.author}"></td>
      <td>
        <button type="button" class="btn btn-outline-button" data-bs-toggle="modal" th:attr="data-bs-target='#index'+${book.id}">
          Details
        </button>
        <!-- Modal -->
        <div class="modal fade" th:id="'index' + ${book.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form th:action="@{/buy}" th:object="${book}" method="POST">
                  <div class="row g-3">
                    <div class="col">
                      <label for="inputId1"></label>
                      <input name="id" id="inputId1" type="text" class="form-control" th:value="${book.id}" hidden>
                      <label for="inputName1">Name</label>
                      <input name="name" id="inputName1" type="text" class="form-control" th:value="${book.name}" disabled>
                    </div>
                    <div class="col">
                      <label for="inputPrice1">Price</label>
                      <input name="price" id="inputPrice1" type="text" class="form-control" th:value="${book.price}" disabled>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="inputCategory1">Category</label>
                    <input name="category" id="inputCategory1" class="form-control" th:value="${book.category}" disabled>
                  </div>
                  <div class="mb-3">
                    <label for="inputAuthor1">Author</label>
                    <input name="author" id="inputAuthor1" type="text" class="form-control" th:value="${book.author}" disabled>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                    <button th:href="@{/buy}" type="submit" class="btn btn-submit">Buy</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>

